.Main-Container{
  
    width: 65vw;
    background-color: whitesmoke;
    border: 1px solid rgb(234, 228, 228);
    
  
    
  

    display: flex;
    flex-direction: column;
    align-items: center;

}

.content-div{
  
    width: 80%;
    
    padding-left: 10px;
   
   
    margin-right: 90px;
    

}

